<section class="Acerca de">
    <div class="card">
            
        <h2>Acerca de</h2>

          <div class="btn-edit" onclick="cambiar_parrafo()">
            <a href="#" class="btn.right">
              <i class="bi bi-pencil"></i></a>

              <div class="btn-edit" onclick="delete_parrafo()"> 
                <a href="#" class="btn-right">
                <i class="bi bi-x"></i></a>
              </div>
            
          </div>        
      
      
            <div class="card-body">
              <p class="card-text"> Periodista, Lic. en Comunicación Social, community manager, programadora web</p>
              
            </div>

