<br>
<div class="card">
             <section class="Educacion">
        <h2>Educación</h2>
        <h4>UCSE</h4>
        <p>Tecnicatura en Periodismo, Lic. En Comunicación Social</p>
        <br>
        <h4>I.C.A.A.</h4>
        <p>Idioma Inglés</p>
        <br>
        <h4>Fundación Instituo Latinoamericano de Desarrollo Social y Salud</h4>
        <p>Diplomatura en Diseño Gráfico con orientación en Redes Sociales</p>
        <br>
        <h4>Secretaría de Industria y Desarrollo Productivo</h4>
        <p>Argentina Programa: Sé Programar</p>
        <br>
        <h4>U.B.A</h4>
        <p>Jefe de Prensa Legislativo</p>
      </section>
      </div>
        


