<div class="card">
    <section class="Experiencia">
<h2>Experiencia</h2>


<div class="card mb-3" style="max-width: 800px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/hcd.jpg" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text"> <br> Directora de Prensa en HCD La Banda (Mayo 2014-Actualidad)</p>
          
        </div>
      </div>
    </div>
  </div>
<p>
  
<p> 

    <div class="card mb-3" style="max-width: 800px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/img/oratoria.jpg" class="img-fluid rounded-start">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text"> <br>Dueña y emprendedora en Oratoria y Comunicación Social (Desde Septiembre de 2019) (Mayo 2014-Actualidad)</p>
              
            </div>
          </div>
        </div>
      </div>

    
      <div class="card mb-3" style="max-width: 800px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/img/revista cambio.jpeg" class="img-fluid rounded-start">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text"> <br> Redacción en revista Cambio de Nuevo Diario (2013-2014)</p>
              
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 800px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/img/laser.jpg" class="img-fluid rounded-start">
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text"> <br> Producción y conducción en programa radial "No estamos Locos" en Radio Láser (2012-2013)</p>
              
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 800px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="assets/img/cable express.png" class="img-fluid rounded-start">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text"> <br> Conducción y entrevistas en Arquinoa, programa de tv en Cable Express (2006-2007)</p>
              
            </div>
          </div>
        </div>
    
      </div>
